body {
    color: black;
    text-align: center;
    font-family: "arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera #logo {
    background: #33a;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    width: 20px;
    vertical-align: middle;
}

#tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8cm;
}

#container {
    width: 70%;
    padding: 1em;
    border: 1px solid #dddddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#post {
    background: white;
    padding: 1em;
}

#footer {
    background-color: blue;
    color: aliceblue;
}